body{
    background-color: rgb(187, 187, 255);
} /*sätter body bakrund till vit*/

#Media{

}
#Download{ /*skapar hur items ska organisera sig genom flex och flexa neråt med spacing runt omkring itemsarna*/
display: flex;
flex-direction: column;
justify-content: space-around;
}
#Ico{ /*Sätter hur stor en bild får vara*/
    max-height: 50px;
    max-width: 50px;
}
#Info{

}
#Ip{ /*ändrar ipns position*/
    margin-top: -40px;
    margin-left: 50px;
}
#About{
    
}
.PCont{ /*generäll box för framtiden*/
    background-color: #595138;
    margin-top: 12px;
    margin-left: 10%;
    max-width: 80%;
    height: 20vh;
    border: 10px solid;
    border-radius: 30px;
    
}
#H1Mods{ /*Ändrar H1 object till vit färg och en margin*/
   color: white;
   margin-left: 48%;
}
#Mods{/*Visar en grid med alla mods i som dessutom gömmer items som inte är i elementet med overflow och white-space*/
    display: grid;
    grid-template-columns: max-content max-content max-content max-content  max-content max-content max-content;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    height: 550vh;
    
}
#Mod{ /*Ändrar hur alla element med Mod id Ska vara positionerade samt deras texter*/
    
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 15vw;
    min-height: 145px;
}
#Mod:hover img{ /*ökar storleken på bilden när musen är över*/
    border-radius: 20%;
    animation: Scale 0.1s ease-in-out 0s 1 forwards;
    position:sticky;
    
    
}
#Mod:not(hover) img{ /*ökar storleken på bilden när musen är över*/
    border-radius: 20%;
    animation: NScale 0.05s ease-in-out 0s 1 forwards;
    z-index: 0;
}
@keyframes Scale {
    0%{
        height: 100px;
        width: 100px;
    }
    100%{
        height: 120px;
        width: 120px;
    }
}
@keyframes NScale {
    1000%{
        height: 100px;
        width: 100px;
    }
    0%{
        height: 120px;
        width: 120px;
    }
}
#Mod img{ /*Bas img storlek*/
    border-radius: 20%;
    height: 100px;
    width: 100px;
}