body{
    background-color: rgb(187, 187, 255);
}

#Media{

}
#Download{
display: flex;
flex-direction: column;
justify-content: space-around;
}
#Ico{
    max-height: 50px;
    max-width: 50px;
}
#Info{

}
#Ip{
    margin-top: -40px;
    margin-left: 50px;
}
#About{
    
}
.PCont{
    background-color: #595138;
    margin-top: 12px;
    margin-left: 10%;
    width: 80%;
    height: 20vh;
    border: 10px solid;
    border-radius: 30px;
    z-index: 1;
}
#Mods{
    display: flex;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}
#Mod{
    z-index: 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}