body{
    background-color: rgb(187, 187, 255);
}

#Media{

}
#Download{
display: flex;
flex-direction: column;
justify-content: space-around;
}
#Ico{
    max-height: 50px;
    max-width: 50px;
}
#Info{

}
#Ip{
    margin-top: -40px;
    margin-left: 50px;
}
#About{
    
}
.PCont{
    background-color: #595138;
    margin-top: 12px;
    margin-left: 10%;
    max-width: 80%;
    height: 20vh;
    border: 10px solid;
    border-radius: 30px;
    
}
#H1Mods{
   color: white;
   margin-left: 48%;
}
#Mods{
    display: grid;
    grid-template-columns: max-content max-content max-content max-content  max-content max-content max-content;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    height: 550vh;
    
}
#Mod{
    
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    max-width: 20vw;
}
#Mod:hover img{
    border-radius: 20%;
    height: 120px;
    width: 120px;
    
}
#Mod img{
    border-radius: 20%;
    height: 100px;
    width: 100px;
}