
body{
    background-color: rgb(19, 18, 18);
    max-width: 100%;
    height: 100%;
    color: white;
}
#MainPageCont{
    height: 100%;
    background: rgb(19, 18, 18);
}
#Nav_Bar{
    display: flex;
    position: relative;
    background-color: black;
    width: 100%;
    margin: -8px;
    z-index: 999;
    position: fixed;
}
#Nav_Inner{
   
}
#Nav_List{
    font-size: larger;
    display: flex;
    color: white;
    text-decoration: none;
    list-style: none;
    align-items: center;
    max-width: 100%;
}
.Nav_Item {
    margin-left: 25vw;
     max-width: 100%;;
}
#Nav_UnderBox{

    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.527);
    z-index: 9999999999;
}
#Ni1{
    margin-left: auto;
 }
 #Ni2Li{

 }
#Ni2Butt{
    text-decoration: none;
    color: white;
    background: transparent;
    border: none;
    width: 50px;
 }
 #Ni2Butt:active{
    text-decoration: none;
    color: white;
    background: transparent;
    border: none;
    animation: Press 1s;
    
 }
 #PerzIframe{
    display: none;
    opacity: 0;
    height: 0;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
 }

 #PerzIframe.Open{
    opacity: 1;
    display: block;
    animation: Fadein 1s;
    height: 100%; 
 }
 #PerzIframe.Close{
    opacity: 0;
    display: block;
    animation: Fadeout 1s;
    height: 0%; 
    
 }
 #Ni3Butt{
   text-decoration: none;
   color: white;
   background: transparent;
   border: none;
   width: 50px;
}
#Ni3Butt:active{
   text-decoration: none;
   color: white;
   background: transparent;
   border: none;
   animation: Press 1s;
   
}
 #ResumeIframe{
   display: none;
   opacity: 0;
   height: 0;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0px;
}

#ResumeIframe.Open{
   opacity: 1;
   display: block;
   animation: Fadein 1s;
   height: 100%; 
}
#ResumeIframe.Close{
   opacity: 0;
   display: block;
   animation: Fadeout 1s;
   height: 0%; 
   
}
textarea{
   background: black;
}
 
 @keyframes Fadein {
    from { opacity: 0; height: 0px; }
    to { opacity: 1; height: 100%; display: block; }
 }
 @keyframes Fadeout {
    from { opacity: 1; height: 100%; }
    to {height: 0px; opacity: 0; display: none; }
 }
 @keyframes Press {
    10% {font-size: large;}
    100% {font-size: medium;}
 }
