body{
background: transparent;
}
#Container{
    display: grid;
    position: absolute;
    grid-template-columns: max-content max-content max-content max-content;
    left: 10%;
    top: 100px;
    
}
#aside-Cat{
display: grid;
position: absolute;
width: 7%;
top: 0;
left: 0;
color: white;
list-style: none;
height: 100%;
background: black;
}
ul{
    list-style: none;
    margin-top: 10px;
}


li{
    margin-top: 150px;
}


#CatMe{
background-color: rgb(30, 30, 30);
width:calc(fit-content + 10px);
height: fit-content;
border-radius: 20px;
text-align: center;
border: 1px solid white;
}
#CatMe-Folder{
    position: relative;
    z-index: 11;
}
#CatJob{
    background-color: rgb(30, 30, 30);
    width:calc(fit-content + 10px);
    height: fit-content;
    border-radius: 20px;
    text-align: center;
    border: 1px solid white;
}
#CatJob-Folder{
position: relative;

z-index: 10;
}
#CatCode{
    background-color: rgb(30, 30, 30);
    width:calc(fit-content + 10px);
    height: fit-content;
    border-radius: 20px;
    text-align: center;
    border: 1px solid white;
}
#CatCode-Folder{
    position: relative;
    
    z-index: 9;
}
#CatIntrest{
    background-color: rgb(30, 30, 30);
    width:calc(fit-content + 10px);
    height: fit-content;
    border-radius: 20px;
    text-align: center;
    border: 1px solid white;
}
#CatIntrest-Folder{
    position: relative;
    
    z-index: 8;
}
button{
    background: transparent;
    border: none;
    color: white;
}
.CatItem{
    color: white;
    opacity: 0; 
    width: 0px;
    resize: none;    
    background: black;
    border-radius: 5px;
    
}
.CatItem.Open{
    
    opacity: 0;
    resize: none;    
    background: black;
    animation: SlideOut 1s;
    width: 0px;
}
.CatItem.Close{
    opacity: 1;
    resize: none;    
    background: black;
    animation: SlideIn 1s;
    width: 300px;
    
    }
    textarea{
        height: inherit;
        width: inherit;
        background: transparent;
        color: white;
        border: none;
        resize: none;
     }
@keyframes SlideIn {
   from {opacity: 0; width: 0px;} 
   to {opacity: 1; width: 300px;}
}
@keyframes SlideOut {
    from {opacity: 1; width: 300px;}
    to {opacity: 0; width: 0px;} 
}